.pt-100{
    padding-top: 100px;
}

h1{
    font-size: 90px;
    font-family: 'Teko', sans-serif;;
}
p{
    font-size: 30px;
    /* width: 50%; */
}
button{
    padding-inline: 60px;
    padding-block: 25px;
    background-color: blue;
    color: white;
    transition: all 0.5s;
    margin: 20px;
}
button:hover{
    background-color: #008000;
}